body {
	font-size: 24px;
	font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.header{
	position: fixed;
	top: 0;
	left:0;
	width: 100%; 
	border-bottom: 2px solid gray;
	height: 80px;
	display: flex;
	align-items: center;
	background: white;
	z-index: 1;
	background-color: #3b88c3;
}

.header-icon{
	width: 60px;
	height: 60px;
	margin-left: 20px;
	border: 1px solid white;
	border-radius: 6px;
}

.header-icon img{
	width: 100%;
	height: 100%;
}

.content{
	min-height: calc(100vh - 80px - 69px);
	margin-top: 80px;
}

.content .content-inner{
	max-width: 900px;
	margin: 0 auto;
}

.aqi-desc{
	padding-top: 20px;
	display: flex;
}

.aqi-more{
	margin-top: 80px;
}

.more-item-title{
	font-weight: bold;
	font-size: 2.5rem;
}

.footer{
	border-top: 1px solid gray;
}

.header-title{
	margin-left: 10px;
	font-size: 2.25rem;
	

}

.area-panel{
	font-size: 2.125rem;
}

.area-panel .area-list{
	list-style-type: none;
	margin-bottom: 0;
}

.area-panel .area-list .area-list-item{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	color: #cbbde2;
}

.area-panel .area-list .area-list-item:hover{
	color: white;
}

.footer{
	position: relative;
}
.footer-link a{
	font-size: 20px;
	display: inline-block;
	padding: 20px;


}
.footer-link a:hover{
	cursor: pointer;
	text-decoration: none;
	text-shadow: 10px 5px 5px black;
}

.footer-link{
	margin: 0 auto;
	width: 1000px;
}

.footer-copyright{
	position: absolute;
	right: 130px;
	font-size: 14px;
	font-weight: bold;
	top: 45px;
}

.city-item{
	border: 2px solid gray;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #c0c0c0;
}

.city-name{
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
}

.city-weather,
.city-temperature,
.city-position
{
	font-size: 20px;
	font-style: italic;
	margin-left: 50px;

}

.province-filter{
	margin: 10px 0;
}

.table-word{
	font-size:16px;
	font-weight: normal;
}

.table-word-2{
	font-size:16px;
	font-weight: normal;
	color: white;
}

.heading{
	background: #E1EBF4;
}

.aqi-green{
	background: #00E400;
}

.aqi-yellow{
	background: #FFFF00;
}

.aqi-orange{
	background: #FF7E00;
}

.aqi-red{
	background: #FF0000;
}

.aqi-purple{
	background: rgb(143, 63, 151);
}

.aqi-maroon{
	background: #7E0023
}

